.vscode/*
cam-files/
notebooks/test_data/*
trash/*
figures/
raw
mesh_material/geodists_smpl_27554.pkl
mesh_material/geodists_sheep_5004.pkl
mesh_material/posenet/*
logdir
tmp
Manifold
database
__pycache__/
lasr_vcn/
*.pyc
.nfs*
*.mp4
